// ==========================================================================
// Container
// ==========================================================================

.container {
  max-width: em(990px);
  margin: 0 auto;
  padding: 0 em(15px) 0 em(15px);
}